/**
 * digital.int-meetings
 * webinars sepa 2020
 */



/** COLORS
    negro:#000000
    verde:#2EFF59

 */


 @font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}

@font-face {
    font-family: 'MaisonMono-Light';
    src: url('../fonts/MaisonMono-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
	font-display:swap;
}
/*
@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
	font-display:swap;
}
*/


 h1 {
	font-family: 'Gilroy-Heavy','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 2.5rem;
 }

 body,h2,h3,h4,h5,h6{
    font-family: 'Gilroy-Light','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000;
}


img{
	max-width:100%;
	height:auto;
}

/* Layout: header + body */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#page-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
	/*height: 230px;*/
	border-bottom: 1px solid red;
	margin-left: 0px;
	margin-right: 0px;
}

.header-logo {
	width: 65%;
	text-align: center;
}

.header-logo img {
	width: 100%;
}

.header-logo .claim {
	margin-top: 5px;
	margin-bottom: 0;
}

.dateLogo {
	color: red;
	font-size: 1.8rem;
}

.img-top-right {
    position: absolute;
	right: 0;
	max-height: 200px;
	top: -2px;
}

.bg-hall{
	/*
	background:url(../img/imgfons2-sepaonair.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
	*/
}

/* HEADER ======================================================== */
#header{
    padding:1.4em 0;
}

@media (max-width: 576px) {
    #header img{
        max-width: 100%;
        height: auto;
    }

    .pt-mobile{
        padding-top: 1.5rem!important;
    }

}
@media (max-width: 768px) {
    .logo{
        margin-right: 20px;
        margin-left: 20px;
    }
}


#header h3{
    font-size:2em;
    margin:0 0 0.2em 0;
    line-height:1.2em;
    color:#000;
}
#header h3 span{
    padding:0 0.3em;
    background-color:#2EFF59;
}

@media (max-width: 375px) {
	#header h3 {
		font-size: 1.6em;
	}
}



#lang-selector a.active{
	color:#fff;
	border-color:#ff0000;
	background-color:#ff0000;
	pointer-events:none;
}
#lang-selector a:focus{
	box-shadow:none;
}



/* BODY ======================================================== */


@media (max-width: 576px) {
    button.btn{
        width: 100%;
    }
}






/* FOOTER ======================================================== */
#footer{
    padding:60px 0 0 0;
}

#footer h5{
    font-size:1em;
    margin:0 0 0.2em 0;
    line-height:1.2em;
    color:#000;
}
#footer h5 span{
    padding:0 0.3em;
    background-color:#2EFF59;
}


#footer h5 a{
	text-decoration:none;
	color:#000;
}
#footer h5 a:hover span{
	background-color:#000!important;
	color: #f8f9fa!important;
}

/* Bootstrap Overrides =============================================== */

/* remove rounding from cards, buttons and inputs */
.card, .card-header, .card-header:first-child, .alert, .btn, .form-control { border-radius: 0; }


.navbar {
	background-color: transparent!important;
	padding-left: 0;
}

.navbar li {
    padding-right: 16px;
}

.btn-outline-primary {
    background-color: #ff0000!important;
    color:#ffffff!important;
    border-color: #ff0000;
    border-radius: 10px;
}

.btn-outline-primary:hover {
    background-color: #ffffff!important;
    color:#ff0000!important;
    border-color: #ff0000;
}

.btn-outline-secondary {
    background-color: transparent!important;
    color:#000000!important;
    border-color: #000000;
    border-radius: 0;
}

li.active .btn-outline-secondary {
    background-color: #ff0000!important;
    color:#9c9696!important;
    border-color: #ff0000;
}



#lang-selector .btn {
    font-weight: 700 !important;
    border-radius: 0;
}
.btn-outline-dark {
    padding: .3rem .6rem !important;
}

#lang-selector a.active {
    color: #fff;
    border-color: #ff0000;
    background-color: #ff0000;
    pointer-events: none;
}

#lang-selector .btn-outline-dark:not(:disabled):not(.disabled).active,
#lang-selector .btn-outline-dark:not(:disabled):not(.disabled):active,
#lang-selector .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

#lang-selector .btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn span {
    vertical-align: middle;
}

.cerrar-sesion a.btn, .cerrar-sesion a.btn:hover {
    font-size: 0.8em;
}


/* highlight focus */
.form-control:focus {
	border-color: #9d9d9d;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(28, 29, 28, 0.51);
}




/* iFrame traducciÃ³n simultÃ¡nea ================================================= */
#iFrameTransContainer{
	position:relative;
	/*height:150px;
	max-height:150px;*/
	overflow:hidden;
	border-bottom: 1px solid #ced4da;
}
#iFrameTrans{
	position:relative;
	top:-90px;
	height:200px;
	max-height:200px;
}
@media (max-width: 991px) {

	#iFrameTransContainer{
		/*height:250px;
		max-height:250px;*/
	}
	#iFrameTrans{
		top: -60px;
		height: 300px;
		max-height:300px;
	}

}


/* Formulario pregunta ========================================================== */
.contactForm span.error{
	font-size:0.8em;
	color: #dc3545!important;
}
.sendLoader{display: none;}
.msg{
	margin-left:5px;
	margin-right:5px;
}

.btn-outline-dark{
	padding: .3rem .6rem!important;
}




/* SEPA 2020 =============================================================== */
/* ========================================================================= */


/* Tintes */
.toPlatino, .toPlatino img {
    -webkit-filter: invert(74%) sepia(8%) saturate(670%) hue-rotate(160deg) brightness(86%) contrast(86%);
    filter: invert(74%) sepia(8%) saturate(670%) hue-rotate(160deg) brightness(86%) contrast(86%);
}

.toGold, .toGold img {
    -webkit-filter: invert(54%) sepia(57%) saturate(292%) hue-rotate(3deg) brightness(91%) contrast(84%);
    filter: invert(54%) sepia(57%) saturate(292%) hue-rotate(3deg) brightness(91%) contrast(84%);
}

.toBlack, .toBlack img {
    -webkit-filter: brightness(0);
    filter: brightness(0);
}


.phone{
	display:inline-block;
	font-size: 0.96em;
    padding-right: 0.4em;
	white-space:nowrap;
	margin:auto;
}
img.svg-icon{
	width: 1.4em;
    margin-right: 0.2em;
}

@media (max-width: 576px) {
	.phone{
		display:block;
		width: 100%;
		text-align: center;
		padding: 0.3em 0;
	}
}

.cerrar-sesion a.btn,
.cerrar-sesion a.btn:hover{
	font-size:0.8em;
	padding:0;
	border:0;
	background:none;
}

.cerrar-sesion a.btn span:nth-of-type(0){
	font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}



.banners {
	text-align:left;
}

.banners img{
	margin-bottom:5px;
	max-width:100%;
}
@media (min-width:576px) and (max-width: 991px) {
	.banners img{
		width:49.5%;
		display:inline-block;
		float:left;
	}
}
@media (max-width:575px){
	.banners {
		text-align:center;
	}
	.banners img{
		margin-left:auto;
		margin-right:auto;
	}
}
.clear{
	clear:both;
	height:1px;
}


/* Info tecnica ===================================================================================== */
#info-tecnica{
	font-size: 16px;
    font-weight: 400;
    background: aliceblue;
    padding: 1em;
    color: #212121
}
#info-tecnica p{
	margin-bottom:0.4em;
}
#info-tecnica ul{
	padding-left:20px;
}
#info-tecnica ul li{
	padding-bottom: 0.2em;
}


/* Footer sponsors sepa2020.es ========================================================================= */
footer {
	position: relative;
	z-index: 9;
	background: #fff
}


footer section.topFooter {
	background-color: #8b8c8d;
	height: 30px;
	padding: 8px 0 0 0;
	font-weight: 500
}

footer section.topFooter p {
	color: #fff;
	font-size: 12px;
	font-weight: 600
}

footer section.logosPlatino {
	padding: 20px 0
}

footer section.logosPlatino img {
	width: 100%;
	max-width: 80px
}

footer section.logosPlatino p {
	color: #8fa3b0;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosPlatino span.sepFooter {
	background: #8fa3b0;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logosOro {
	padding: 20px 0
}

footer section.logosOro img {
	width: 100%;
	max-width: 80px
}

footer section.logosOro p {
	color: #a18a59;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosOro span.sepFooter {
	background: #a18a59;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logosPartners {
	padding: 20px 0
}

footer section.logosPartners img {
	width: 100%;
	max-width: 80px
}

footer section.logosPartners p {
	color: #8b8c8d;
	font-family: "Gilroy-Light", sans-serif
}

footer section.logosPartners span.sepFooter {
	background: #8b8c8d;
	width: 100%;
	height: 2px;
	display: block
}

footer section.logoFooter {
	padding: 20px 0
}

footer section.logoFooter .col-4 {
	text-align: center
}

footer section.logoFooter .col-4 img {
	max-width: 120px
}

@media (max-width: 400px) {
	footer section.logoFooter .col-4 {
		flex: 0 0 33.3%;
		max-width: 33.3%
	}
}

footer section.logoFooter span.sepFooter {
	background: #f4f4f4;
	width: 100%;
	height: 1px;
	display: block;
	margin-bottom: 14px
}


/*fix logo footer Invisalign */

.col-invisalign{
	padding-left:0;
	padding-right:0;
	text-align:center;
}
.col-invisalign img{
	max-width:120px!important;
	margin-top: -5px;
}
@media (min-width: 768px) and (max-width:991px) {
	.col-invisalign img{
		margin-top: 0;
	}
}



/* Hall -------------------------------------------------------- */

.bg-hall footer{
	background: rgba(255,255,255,0.85);
}
.bg-hall .card{
	height: 100%;
}
.bg-hall .card .fecha{
	font-family:'Gilroy-Bold';
	font-weight: bold;
	color:red;
	margin-bottom:0.25rem;
}
.bg-hall .card .hora{
	color:red;
	margin-bottom:0.25rem;
}
.bg-hall .card .subtitle{
	font-family:'Gilroy-Heavy';
	color:black;
	font-size:1.4rem;
	margin-bottom:0.25rem;
}
.bg-hall .card .card-text{
	margin-bottom:0.25rem;
}
.bg-hall .card .card-text.titulo2{
	color:black;
	font-size:1.1em;
}
.bg-hall .card .card-text.titulo3{
	color:gray;
    font-size: 0.8em;
}
.bg-hall .card .logo{
	width:auto;
	height:auto;
	max-width:100px;
}

.btn{
	font-weight: 700!important;
}
.btn span{
	vertical-align: middle;
}

.btn svg{
	font-size: 1em;
    vertical-align: middle;
}

.btn-rounded-primary{
	color:white;
	border-color:red;
	background:red;
	border:2px solid red;
	border-radius: 2em;
}
.btn-rounded-primary:hover{
	color:red;
	border-color:red;
	background:white;
}

.btn-rounded-primary span.circle{
	border-radius: 50%;
    background: white;
    color: red;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: 1.2em;
    margin-left: 0.6em;
    vertical-align: baseline;
}
.btn-rounded-primary:hover  span.circle{
	background:red;
	color:white;
}

.btn-rounded-secondary{
	color:white;
	background:#9E9E9E;
	border:2px solid #9E9E9E;
	border-radius: 2em;
}
.btn-rounded-secondary:hover{
	background:red;
	color:white;
	border-color:red;
}

.btn-hall svg{
	transform:rotate(60deg)
}





/* Ficha -------------------------------------------------------- */
.logo{
	max-width: 100px;
}

.derecha {
    float: right;
    text-align: right;
	padding-left: 10px;
}

.cat1 {
	color: rgb(131, 179, 179);
	cursor: pointer;
}
.cat2 {
	color: pink;
	cursor: pointer;
}





/* Videos -------------------------------------------------------- */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
	max-width: 100%;
	margin-bottom: 10px;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
  }
